.prj-title{
    display: inline-block;
    font-size: 1.7rem;
    color: white;
}
.prj-title:hover{
    cursor: pointer;
}
.my-navbar{
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}
.form-title{
    font-size: 1.6rem;
    padding-top: 13%;
    padding-bottom: 26%;
}
.logout-button{
    color: white !important;
    padding: 0.1rem 0.4rem !important;
    position: fixed;
    right: 1%;
    top: 10px;
    font-size: 23px;
}
.logout-button:hover{
    cursor: pointer;
}
.term-info{
    color: white;
}
.term-dropdown{
    margin: .6rem 0 0;
    border-radius: 0;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    padding: 0;
    border: none;
}
.dropdown-item:hover{
    background-color: #EEEEEE;

}
.dropdown-item{
    padding-top: 3px;
    padding-bottom: 6px;
}
.dropdown:hover{
    cursor: pointer;
}